*{
    margin: 0;
    padding: 0;
}
/*index.html*/
body{
    background-color: black;
}
/*index.html*/

.tituloc{
    text-align: center;
    color: white;
    font-size: 60px;
}

.imagemcachorro{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0px auto;
    align-content: center;
}

.bomba {
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

.texto {
    color: white;
    text-align: center;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*scroll*/
::-webkit-scrollbar {
    background-color: grey;
}

::-webkit-scrollbar {
    width: 6px;
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0;
}
/*scroll*/
